{% extends "index.html" %}

{% block content %}

<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
       <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
   </div>
   <div class="col-lg-12 mb-4">
       <a href="{{ url_for('homepage') }}"
       {% if current_list=='popular' %}
          class="btn btn-outline-info active"
       {% else %}
          class="btn btn-outline-info"
       {% endif %}
       >Popular</a>

       <a href="{{ url_for('homepage', list_type='top_rated') }}"
       {% if current_list=='top_rated' %}
          class="btn btn-outline-info active"
       {% else %}
          class="btn btn-outline-info"
       {% endif %}
       >Top rated</a>

       <a href="{{ url_for('homepage', list_type='upcoming') }}"
       {% if current_list=='upcoming' %}
          class="btn btn-outline-info active"
       {% else %}
          class="btn btn-outline-info"
       {% endif %}
          >Upcoming</a>

       <a href="{{ url_for('homepage', list_type='now_playing') }}"
        {% if current_list=='now_playing' %}
          class="btn btn-outline-info active"
       {% else %}
          class="btn btn-outline-info"
       {% endif %}
        >Now playing</a>
   </div>
   {% for movie in movies %}
   <div class="col-lg-3 col-md-6 mb-4">
       <div class="card h-100">
           <img class="card-img-top" src={{get_poster_url_in_html(config,movie['poster_path'],"w780")}} alt="">
           <div class="card-body">
               <h4 class="card-title">{{movie['title']}}</h4>
           </div>
           <div class="card-footer text-center">
               <a href="/movies/{{ movie['id'] }}" class="btn btn-primary">Pokaż więcej</a>
           </div>
       </div>
   </div>
   {% endfor %}
</div>

{% endblock %}